<h1>Posts</h1>

<% @posts.each do |p| %>

	<h2> <%= p.title %></h2>
	<h4> <%= p.title %></h4>
	<p> <%= p.body %> </p>
	<%= link_to 'Edit', edit_post_url(p) %>

	<%= link_to 'x', post_url(p), method: :delete, data: { confirm:'OMG REALLY HOLY SHIT?' }%>

<% end %>

<%= link_to 'New Post!', new_post_url %>

